
  body {
    
  background-image: url("https://img.freepik.com/vector-gratis/ilustracion-poesia-acuarela_52683-82191.jpg?w=1380&t=st=1692737719~exp=1692738319~hmac=d4a8ece892907834bc581a990b21f1ce1a593e1bc2ad1aaf4a89c624b77bc11c");
  background-size: cover;
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgba(232, 15, 232, 0.2);
    font-family: monospace;
    place-items: center;
    display: grid;
    
  }
  

  header {
    background:#f3daf5;
    height: 50px;
    width: 400px;
    margin: 50px;
    text-align: center;
    color: D#333333; 
    font-size: 13px;
    font-weight: bolder; 
    font-family:monospace;
    text-shadow: 3px 2px 5px O#454545;
    border-bottom: #333333;
    }
  
  .illustration {
    max-width: 14%;
    max-height: var(--image-max-width);
    margin-top: var(--image-margin 6);
    justify-content: center;
   
  }

  .box {
    border: 2px solid #38302e;
    padding: 5px;
    margin: px;
  }


  label {
    color: D#333333; 
    font-size: 15px;
    font-family:monospace;
    text-align: right;
  }

  textarea[name="user-input"] {
    display: flex;
    justify-content: center;
    padding: 7px;
    background-color: #f3daf5;
    align-items: center;
    justify-content: center;
    
}

ul {
  display:flex;
  list-style-type: none;
  margin: 30px 60px 40px 30spx; 
  padding: 20px;
  border: 3px;
  
  }
li {
  float: left;
  background-color: #F6E3CA;
  margin-right: 10px;
  border: #6e6b6b 2px solid;
  padding: 7px;
  
  }
  
  
  button,
  input {
    font-family: inherit;
    font-size: 100%;
    background: #f5daba;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: 500ms;
  }
  
  
  footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    align-items: end; 
    font-weight: right;
    
  }
  
  
    
