
  body {
    
    font-family: monospace;
    place-items: center;
    display: grid;
    
  }


  header {
    background:#efe2f5;
    border: #6e6b6b 2px solid;
    height: 50px;
    width: 400px;
    margin: 50px;
    text-align: center;
    color: D#333333; 
    font-size: 13px;
    font-weight: bolder; 
    font-family:monospace;
    text-shadow: 3px 2px 5px O#454545;
    
    }
  
  .illustration {
    max-width: 14%;
    max-height: var(--image-max-width);
    margin-top: var(--image-margin 6);
    justify-content: center;
   
  }

  .box [name="user-input"]{

    border: 2px solid #38302e;
    padding: 5px;
    margin: px;
  }


  label {
    color: D#333333; 
    font-size: 15px;
    font-family:monospace;
    text-align: right;
  }

  textarea[name="user-input"] {
    display: flex;
    justify-content: center;
    padding: 7px;
    background-color: #efe2f5;
    border: #6e6b6b 2px solid;
    align-items: center;
    justify-content: center;
    
}

ul {
  display:flex;
  list-style-type: none;
  margin: 30px 60px 40px 30spx; 
  padding: 20px;
  border: 3px;
  
  }
.respuesta  {
  float: left;
  background-color: #F6E3CA;
  margin-right: 5px;
  border: #6e6b6b 2px solid;
  padding: 7px;
  
  }
  
  
  #reset-button,
  input {
  
    font-family: inherit;
    font-size: 100%;
    background: #f4d4ae;
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: 500ms;
  }
  
  
  footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: white;
   border-top: 1px solid #ccc;
   padding: 1px 1;
   text-align: center;
    }
  
  
    
